h1{
    font-size: 10px;
    text-align: left;
}

.oddhead{
    color: blanchedalmond;
}

#headid{
    color: aqua;
}

#div1{
    background-color: green;
}

.text{
    color: white;
}
.text1{
    color: black;
}
.text2{
    color: red;
}