body{
    color: rgb(181, 233, 129);
    color: hsl(215, 40%, 50%);
    background: linear-gradient(to right,red 2%,blue 10%,green 60%,yellow 20%);
    background: radial-gradient(orange,tomato,green);
    height: 100vh;
}
p,h1,h2,h3,h4,h5,h6
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    font-style: oblique;
    font-display: none;
    
}